@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
body{
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.container{
  width: 65% !important;
  padding: 3rem 0;

}
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

h1{
  font-size: 3vw !important;
  font-weight: 700 !important;
}
h3{
  font-size: 2vw !important;
  font-weight: 700 !important;
}
h5{
  font-size: 1.2vw !important;
  font-weight: 500 !important;
}
p{
  font-size: .9vw !important;
}

@media screen and (max-width : 750px) {

  .container{
  width: 100% !important;
  padding: 3rem 0;

}
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

h1{
  font-size: 9vw !important;
  font-weight: 700 !important;
}
h3{
  font-size: 7vw !important;
  font-weight: 700 !important;
}
h5{
  font-size: 6vw !important;
  font-weight: 500 !important;
}
p{
  font-size: 4.5vw !important;
}
}